<!--
 * Componente: LabsComponent
 * Descripción: Se utiliza para mostrar y gestionar las prácticas de laboratorio.
 *
 -->
<section class="section-testing">
  <h1>Lab Tasks and Events</h1>

  <section class="list-section">
    <ul>
      <h3>Primera Lista</h3>
      <li *ngFor="let task of tasks">{{ task.name }}</li>
    </ul>

    <ul>
      <h3>Segunda Lista</h3>
      @for (task of tasks; track task.id) {
      <li>{{ task.name }}</li>
      } @empty {
      <li>No hay tareas disponibles.</li>
      }
    </ul>
  </section>
  <ul>
    <h3>Lista de nombres</h3>
    <li *ngFor="let name of nameList(); index as i">{{ i }} {{ name }}</li>
    <p>Total de nombres: {{ nameList().length }}</p>
  </ul>
  <hr />
  <li>{{ taskNames }}</li>

  <p>Hola soy {{ name() }}</p>
  <img [src]="person().avatar" alt="" class="img-selfie" />
  <p>Name: {{ person().name }}</p>
  <p>Age: {{ person().age }}</p>

  <input type="text" name="" id="" [value]="person().age" />

  <button [disabled]="isBtnDisabled" class="btn-click" (click)="clickHandler()">
    Click me
  </button>
  <button
    [disabled]="isBtnDisabled"
    class="btn-click"
    (dblclick)="clickHandler()"
  >
    Double click
  </button>
  <p>Event change</p>
  <input
    type="number"
    name="number-input"
    id="5"
    [value]="person().age"
    (change)="changeHandler($event)"
  />

  <p>Write Something with change event:</p>
  <input type="text" (change)="changeHandlerText($event)" />
  <p>Value: {{ valueChange }}</p>

  <p>Write Something with input event:</p>
  <input type="text" (input)="changeHandlerTextInput($event)" />
  <p>Value: {{ valueInput }}</p>

  <p>Write Something with keydown event:</p>
  <input type="text" (keydown)="keydownHandler($event)" />
  <p>Value:{{ keyPress }}</p>

  <p>Listen how we press a specific key, please pres shift + t</p>
  <input type="text" (keydown.shift.t)="clickHandler()" />

  <hr />
  <h2>Signals</h2>
  <input type="text" [value]="name()" (keydown)="changeNameHandler($event)" />
  <p>Hola soy {{ name() }}</p>

  <hr />
  <div *ngIf="1 !== 1">My content</div>
  <div *ngIf="name() === 'Aye'">
    Show this section because the name is {{ name() }}
  </div>
  <label for="age-input">Change Person Age</label>
  <input
    type="number"
    name="age-input"
    [value]="person().age"
    (change)="changeHandlerAge($event)"
  />

  <div *ngIf="person().name === 'aye' && person().age >= 30; else elseBlock">
    Show this section because these person is aye and older than 30
  </div>
  <ng-template #elseBlock>
    I am another person and younger than 30 years old
  </ng-template>
  <hr />

  <h3>ngSwitch</h3>
  <input
    type="text"
    [value]="person().name"
    (change)="changeHandlerName($event)"
  />
  <div [ngSwitch]="person().name">
    <p *ngSwitchCase="'aye'">Yo soy aye</p>
    <p *ngSwitchCase="'julian'">Yo soy julian</p>
    <p *ngSwitchCase="'ana'">Yo soy ana</p>
    <p *ngSwitchCase="'valentina'">Yo soy ana</p>
    <p *ngSwitchDefault>Yo no soy nadie</p>
  </div>

  <hr />
  <h3>Input Control with react form module</h3>
  <input type="color" [formControl]="colorCtrl" />
  <p>Color: {{ colorCtrl.value }}</p>

  <hr />
  <svg>
    <g>
      <rect x="0" y="0" height="100" width="100" [attr.fill]="colorCtrl.value" />
    </g>
  </svg>

  <hr>
  <input type="number" [formControl]="widthControl" />
  <span class="box" [style.width.px]="widthControl.value"></span>

  <hr>
  <input type="text" [formControl]="nameControl" />
  <span class="message-error" [class.show]="nameControl.invalid && nameControl.touched">Nombre Invalido</span>
  <input type="text">
</section>
